<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8"> 	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Document</title>
</head>
<body>
	<section >
	<div class="card  mx-3">
            <div class="card-body">
            <!-- alert message -->
				   <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				   </div>
                <h1 class="text-center">Your Contacts</h1>
                  
                 <div class="search-container my-4">
                    <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contacts">
                      
                    <div class="search-result">
                        <h2>this is search result</h2>
                      </div>
                  </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="c:${contacts}">
                        <th scope="row" th:text="'SCM2020' + ${ c.cId}">1</th>
                      
                        <td >
                        <img src="" class="profile_pic" th:src="@{'/img/'+${c.image}}" alt="dp" />
                        <span th:text="${c.name}"></span>
                        </td>
                        <td >
                        <a href="#" th:href="@{'/user/contact/'+${c.cId}}">
                        <span th:text="${c.email}"></span>
                        </td>
                        <td th:text="${c.phone}">@mdo</td>
                        <td >
                        	
                            <form method="POST" th:action="@{'/user/update-contact/'+${c.cId}}">
                            <a href="#" th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</a>
                               <button type="submit" class="btn btn-primary btn-sm">Update</button>                              

                            </form>
                           

                        </td>
                      </tr>                    
                    </tbody>
                  </table>

                  <!-- pagination -->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#">Previous</a></li>
                      <li th:classappend="${currentPage==i-1}?'active': ''" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
                    
                      <li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage+1}}" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
	</section>
    
</body>
</html>