<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8"> 	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h3 >Smart Contact Manager</h3>
	<button class="btn bg-primary text-white">Get Started</button>
	</div>
	
	</section>
    
</body>
</html>